---

name: "Build ISO"
run-name: "Build ISO"
on: push

jobs:
  build:
    name: "Build ISO"
    runs-on: ubuntu-latest
    steps:

      - id: checkout
        name: Checkout
        uses: actions/checkout@v5

      - id: docker-run
        name: Run Arch Docker Container
        run: |
          docker run --interactive --privileged --rm "index.docker.io/library/archlinux:latest" /bin/bash << EOF
          pacman -Syu --noconfirm archlinux-keyring archiso
          echo "DONE: $?"
          EOF
