---

name: "Build ISO"
run-name: "Build ISO"
on: push

jobs:
  build:
    name: "Build ISO"
    runs-on: ubuntu-latest
    steps:

      - id: checkout
        name: Checkout
        uses: actions/checkout@v5

      - id: docker-run
        name: Run Arch Docker Container
        run: |
          docker run --interactive --privileged --rm "index.docker.io/library/archlinux:latest" /bin/bash << EOF_DOCKER_SCRIPT

          # Immediately exit if any command has a non-zero exit status
          set -e

          # All executed commands are printed to the terminal
          set -x

          # If any command in a pipeline fails, return that code for the whole pipeline
          set -o pipefail

          # https://wiki.archlinux.org/title/Archiso#Installation
          pacman --sync --refresh --sysupgrade --noconfirm --quiet archiso

          # https://wiki.archlinux.org/title/Archiso#Prepare_a_custom_profile
          cp --recursive /usr/share/archiso/configs/releng/ archlive

          # https://wiki.archlinux.org/title/Archiso#Selecting_packages
          tee -a archlive/packages.x86_64 << EOF_PACKAGE_LIST | xargs pacman --sync --refresh --sysupgrade --noconfirm --quiet
          base
          base-devel
          bat
          ffmpeg
          fzf
          git
          make
          man-db
          man-pages
          most
          posix
          posix-c-development
          posix-software-development
          posix-user-portability
          sudo
          thefuck
          vi
          vim
          w3m
          wget
          wiki-tui
          xdg-user-dirs
          zsh
          EOF_PACKAGE_LIST

          # https://wiki.archlinux.org/title/Archiso#Adding_files_to_image
          echo 'PROMPT="%B%/ %F{red}%#%f%b "' >> archlive/airootfs/root/.zshrc

          # https://wiki.archlinux.org/title/Archiso#Build_the_ISO
          mkarchiso -v archlive

          # DEBUG
          ls -Ral work/ out/

          EOF_DOCKER_SCRIPT
