---

name: "Build ISO"
run-name: "Build ISO"
on: push

jobs:
  build:
    name: "Build ISO"
    runs-on: ubuntu-latest

    container:
      image: archlinux/archlinux:latest
      options: --privileged

    steps:

      - id: checkout
        name: "Checkout"
        uses: actions/checkout@v5

      - id: install-archiso
        name: "Install ArchISO"
        run: pacman --sync --refresh --sysupgrade --noconfirm --quiet archiso

      - id: prepare-custom-profile
        name: "Prepare Custom Profile"
        run: cp --recursive /usr/share/archiso/configs/releng/ archlive

      - id: prepare-custom-packages
        name: "Prepare Custom Packages"
        run: |
          tee -a archlive/packages.x86_64 << EOF | xargs pacman --sync --refresh --sysupgrade --noconfirm --quiet
          base
          base-devel
          bat
          ffmpeg
          fzf
          git
          make
          man-db
          man-pages
          most
          posix
          posix-c-development
          posix-software-development
          posix-user-portability
          sudo
          thefuck
          vi
          vim
          w3m
          wget
          wiki-tui
          xdg-user-dirs
          zsh
          EOF

      - id: prepare-custom-setup
        name: "Prepare Custom Setup"
        run: echo 'PROMPT="%B%/ %F{red}%#%f%b "' >> archlive/airootfs/root/.zshrc

      - id: make-iso
        name: "Make ISO"
        run: mkarchiso -v -r archlive

      - id: upload-artifact
        name: Upload ISO Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Custom Arch Linux ISO
          path: work/archlinux-*.iso
