---

name: "Build ISO"
run-name: "Build ISO"
on: push

jobs:
  build:
    name: "Build ISO"
    runs-on: ubuntu-latest
    steps:

      - id: checkout
        name: Checkout
        uses: actions/checkout@v5

      - id: docker-run
        run: |
          docker run "index.docker.io/library/archlinux:latest" /bin/bash << EOF
          pacman -Syu --noconfirm archiso
          EOF
